<div class="calc" ng-show="show">
  <div class="display">
    <div class="amount">{{amount}}</div>
    <div class="close-keyboard" ng-click="closeKeyboard()"><i class="icon ion-close"></i></div>
  </div>
  <div class="keyboard">
    <div class="key-control key" ng-click="supprimer()">Supprimer</div>
    <div class="key-control key" ng-click="clearAmount()">Vider</div>
    <div class="key" ng-click="addToAmount('7')">7</div>
    <div class="key" ng-click="addToAmount('8')">8</div>
    <div class="key" ng-click="addToAmount('9')">9</div>
    <div class="key" ng-click="addToAmount('4')">4</div>
    <div class="key" ng-click="addToAmount('5')">5</div>
    <div class="key" ng-click="addToAmount('6')">6</div>
    <div class="key" ng-click="addToAmount('1')">1</div>
    <div class="key" ng-click="addToAmount('2')">2</div>
    <div class="key" ng-click="addToAmount('3')">3</div>
    <div class="key" ng-click="addToAmount('0')">0</div>
    <div class="key-valid key" ng-click="validate()">Valider</div>
  </div>
</div>
