
<ion-view title="Reception - Choix de l'entrepôt">
  <ion-content class="has-header">
    <div class="centered-form">
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Entrepot
          </div>
          <select 
            ng-options="entrepot as entrepot.name for entrepot in entrepots track by entrepot.id"
            ng-model="$parent.selected">
          </select>
        </label>
        <button class="button button-positive button-block" ng-click="confirm()" ng-disabled="!selected">
            Valider
        </button>
      </div>
  </ion-content>
</ion-view>
