body {
  padding-top:40px;
}

.row {
  .col-no-padding {
    padding-left:0;
    padding-right:0;
  }
}

.row.big-list {
  height:100%;
  & > div[class*=col-md] {
    height:100%;
    border-right:solid 1px #ddd;
  }
}

.nav-pills {
  & > li.no-radius {
    & > a {
      border-radius: 0;
    }
  }
}

.list-group-item.no-radius:first-child, .list-group-item.no-radius:last-child {
  border-radius:0;
}

.btn-bottom {
  margin-right:10px;
}

.hide {
  display:none;
}

.list-group-item {
  border-right:none;
  border-left:none;
}
