<ion-view view-title="List" ng-init="search">
  <ion-nav-buttons side="primary">
    <div class="bar bar-header item-input-inset" style="padding-top:1px">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="search.name.name">
      </label> 
    </div>
  </ion-nav-buttons>
	<ion-content class="padding">
  <h1>Bon de livraison N° {{bonDeLivraison}}</h1>
  <div class="row list-with-flex">
    <div class="col col-50">
      <ion-list>
      <ion-item ng-repeat="item in stockList | filter:search.name.name |filter:{product_qty: '!0'}" ng-click="putOnValid(item)">
          <div class="list-text-and-count">
            <div class="list-text">
              {{item.product_id.name}}
            </div>
            <div class="list-count">
              {{item.product_qty}} pièces
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div class="col col-50">
      <ion-list>
        <ion-item ng-repeat="item in validList">
          <div class="list-text-and-count">
            <div class="list-text">
            {{item.product_id.name}}
            </div>
            <div class="list-count">
              {{item.product_qty}} pièces
            </div>
          </div>
          <div ng-show="item.overboard > 0" class="overboard">
            {{item.overboard}} en plus
          </div>
          <div class="list-buttons">
            <div class="list-button" ng-click="show = true;">
              Compte
            </div>
            <div class="list-button list-button-remove" ng-click="removeFromValid(item)">
              <i class="icon ion-close"></i>
            </div>
          </div>
          <div digit-keyboard show="show" item-id="item.id"></div>
        </ion-item>
      </ion-list>
    </div>
  </div>
	</ion-content>
  <button class="button button-positive fixed-right-bottom" ng-click="doTransfer()">Valider</button>
</ion-view>
