<ion-view view-title="Liste" ng-init="search">
	<ion-content class="padding">
		<ion-list>
			<div class="list list-inset" style="margin-top:0px;">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search" ng-model="search.name">
              </label>
            </div>
			<ion-item ng-repeat="item in mrpProduction | filter:search.name" ui-sref="detail({id: item.id})">
				{{ item.name }}
				{{ item.date_requested }}
				{{ item.customer }}
				{{ item.state }}
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
