<ion-view view-title="Production">
  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="logout()">Déconnexion</button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <div class="list list-inset" style="margin-top:0px;">
        <label class="item item-input item-select">
          <div class="input-label">
            Entrepôt
          </div>
          <select
              ng-options="w as w.name for w in warehouses track by w.id"
              ng-model="search.warehouse">
          </select>
        </label>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="search.name">
        </label>
      </div>
      <div class="row item">
        <div class="col">Entrepôt</div>
        <div class="col">N° commande</div>
        <div class="col">Date demandée</div>
        <div class="col">Client</div>
        <div class="col">Etat</div>
      </div>
      <div class="row item" ng-repeat="item in mrpProduction | filter:search.name | filter: {warehouse_id: search.warehouse.id}" ui-sref="detail({id: item.id})">
        <div class="col entrepot">{{ warehouses_by_id[item.warehouse_id] }}</div>
        <div class="col bon">{{ item.name }}</div>
        <div class="col reqDate">{{ item.date_requested }}</div>
        <div class="col client">{{ item.customer }}</div>
        <div class="col etat">{{ item.state }}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
