<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <span class="glyphicon glyphicon-home"></span> Pickadoo
      </a>
    </div>

    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchPicking">
      </div>
    </form>
</div>

<div class="container-fluid">
  <div class="row big-list">
    <div class="col-md-12 col-no-padding">
      <ul class="list-group list-group-striped">
        <li class="list-group-item list-link no-radius" ng-repeat="item in items | filter:searchPicking" ng-click="open(item)">
        {{item.id}} {{item.origin}} {{item.name}} {{item.partner}} {{item.carrier_method}} 
        </li>
      </ul>
    </div>
  </div>
</div>
