<div class="container-fluid">
  <div class="row">
    <span us-spinner spinner-key="spinner-1"></span>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <button class="btn btn-success dropdown-toggle pull-right" type="button"
          ng-click="addAll()">Add All</button>
          <h2 class="panel-title">To send</h2>
        </div>
        <div class="panel-body">
          <ul class="list-group list-group-striped">
            <li class="list-group-item list-link no-radius clearfix" ng-repeat="move in todoMoves">
              <div class="row">
                <div class="col-md-6">
                  {{move.product.model}} - {{move.product.name}} - {{move.product.color}} - {{move.product.brand}} - {{move.product.collection}} - {{move.product.ean}}
                </div>
                <div class="col-md-1 qty">
                  {{move.qty}}
                </div>
              </div>
              <div class="pull-right">
                <button class="btn btn-success dropdown-toggle" type="button"
                ng-click="moveAddAll(move.id)">Add All</button>
                <button class="btn btn-success dropdown-toggle" type="button"
                ng-click="moveAddOne(move.id)">Add One</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default col-md-6">
        <div class="panel-heading">
          <h3 class="panel-title">Done</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group list-group-striped">
            <li class="list-group-item list-link no-radius clearfix" ng-repeat="move in processMoves">
              {{move.name}} {{move.qty}} {{move.barcode}}
              <button class="btn btn-danger dropdown-toggle pull-right" type="button" ng-click="moveCancelProcess(move.id)">Cancel</button>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container-fluid">
    <button class="btn btn-danger navbar-btn dropdown-toggle" type="button"
    ng-click="cancel()">Cancel</button>
    <button class="btn btn-success navbar-btn dropdown-toggle pull-right" type="button"
    ng-click="validate()">Partial</button>
  </div>
</div>
