<nav class="navbar navbar-fixed-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-home"></span> ERP
      </a>
      <a class="navbar-brand" ui-sref="list">
        <span class="glyphicon glyphicon-gift"></span> Pickadoo
      </a>
      <a class="navbar-brand" ui-sref="print">
          <span class="glyphicon glyphicon-print"></span> {{ 'DIRECT_PRINT' | translate }}
      </a>
    </div>
    
    <form class="navbar-form navbar-right" role="search" ng-submit="doSearch()">
      <div class="form-group">
          <input id="search" type="text" class="form-control" placeholder="{{ 'SEARCH' | translate }}" ng-model="searchBar">
      </div>
    </form>

    <div class="item-name" ng-show="navTitle">
        {{ navTitle }}
    </div>
  </div>
</nav>
